@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sora);
  --font-mono: var(--font-croissant);
  --font-background: var(--font-azeret);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --background: #6a2055;
  --foreground: #f3e2dc;

  --card: #f3e2dc;
  --card-foreground: #6a2055;

  --popover: #f3e2dc;
  --popover-foreground: #6a2055;

  --primary: #f3e2dc;
  --primary-foreground: #6a2055;

  --secondary: #be9e4c;
  --secondary-foreground: #6a2055;

  --accent: #be9e4c;
  --accent-foreground: #f3e2dc;

  --muted: #5e1d4e;
  --muted-foreground: #f3e2dc;

  --border: #be9e4c;
  --input: #5e1d4e;
  --ring: #be9e4c;

  --destructive: #be9e4c;
  --destructive-foreground: #fff;

  --radius: 1rem;
}

.dark {
  --background: #1a1a1a;
  --foreground: #fdfdfd;

  --card: #1a1a1a;
  --card-foreground: #fdfdfd;

  --popover: #1a1a1a;
  --popover-foreground: #fdfdfd;

  --primary: #f3e2dc;
  --primary-foreground: #6a2055;

  --secondary: #6a2055;
  --secondary-foreground: #f3e2dc;

  --accent: #be9e4c;
  --accent-foreground: #fdfdfd;

  --muted: #333333;
  --muted-foreground: #f3e2dc;

  --border: #333333;
  --input: #2a2a2a;
  --ring: #be9e4c;

  --destructive: #be9e4c;
  --destructive-foreground: #fff;

  --sidebar: #1a1a1a;
  --sidebar-foreground: #fdfdfd;
  --sidebar-primary: #f3e2dc;
  --sidebar-primary-foreground: #6a2055;
  --sidebar-accent: #be9e4c;
  --sidebar-accent-foreground: #fdfdfd;
  --sidebar-border: #333333;
  --sidebar-ring: #be9e4c;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }

  body.menu-open {
    overflow: hidden;
    height: 100vh;
  }
}

@layer utilities {
  .font-background {
    font-family: var(--font-background);
  }
}
